/* font-family: 'Anton', sans-serif; 
font-family: 'Lobster', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;	 
}

*{
	margin:0;
	padding:0;
}


.social{
	position: fixed;
	left: 0;
	top: 200px;
	z-index: 2000;

}

.social ul {
	list-style: none;
}

.social ul li a {
	display: inline-block;
	color: #fff;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.social ul li .icon-facebook {background:#3b5998;}
.social ul li .icon-instagram {background:#cccccc;}
.social ul li .icon-twitter {background:#33ccff;}
.social ul li .icon-pinterest {background:#ae181f;}
.social ul li .icon-google{background:#d95232;}
	
.social ul li a:hover{
	padding: 10px 30px;
	background:#000;

}

header{
	width: 1000px;
	height: 120px;
    background-image: url(../img/LOGO2.png);
    border-radius: 10px;

}



header{
	width: 100%;
	}



/*ETIQUETAS*/
body{
background-image: url(../img/fondo4.jpg);	
background-repeat: no-repeat;
background-size: cover;


}

h1{
font-family: 'Anton', sans-serif;
margin-left: 10px;
font-size: 50px;
text-align: center;
}

h2{
font-family: 'Lobster', cursive;	
margin-left: 10px;
font-size: 20px;
text-align: center;
}

h3{
font-family: 'Lobster', cursive;
color: white;
font-size: 15px;
text-align: center;
}



nav> ul {
	display: table;
	overflow: hidden;
	width: 100%;
	background: black;
	position: relative;
	margin-top: 20px;

}

nav> ul li {
	display: table-cell;
}


nav> ul li a {
	color: white;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav> ul> li> ul> li a:hover{
	background: #5da5a2;
}

nav> ul> li> a span{
	background: red;
	display: block;
	height: 100%;
	width: 100%;
	left:0;
	position: absolute;
	top: -55px;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


nav> ul >li a span .icon {
	display: block;
	line-height: 60px: 
}
 
nav> ul> li> a:hover >span{
	top: 0;
}


section{
	width: 700px;
	background-image: url(../img/contenido.jpg);
	height: 600px;	
	float: left;
	margin-top: 20px;
	border-radius: 10px;
}

aside{
	width: 280px;
	background-image: url(../img/aside.jpg);
	height: 600px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
}

footer{
	width: 1000px;
	height: 60px;
	background: black;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
}

p{

	font-size: 18px;
	color: black;
	font-weight: bolder;
	line-height: 20px;
	padding: 10px;
	text-align: justify;
}




/*CLASES*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.ancho:link{padding: 7px; color: white; text-decoration: none;}
.ancho:visited{padding: 7px; color: white; text-decoration: none;}
.ancho:hover{padding: 7px; color: white; text-decoration: none;}
.ancho:active{padding: 7px; color: white; text-decoration: none;}











































